language: java
sudo: false
install: true
jdk:
  - oraclejdk8
script:
  - jdk_switcher use oraclejdk8
  - mvn clean install sonar:sonar
addons:
  sonarcloud:
    organization: "erudika"
    token:
      secure: "ht8JxEylgDlCD+CN+avsaV7aoy8m23+9onpF/u1uJ/GRwfvitJFY3/6yrn4DhqT5bJuncNGyR9yuhHqBTQV6dEO6lt0t7+FFtW6vR81RmR59XfGUnfuCcAASS6ymuxnbapfuCFAx3RapTEKfpBkmq5ch+83HWwcv7YEn+oG31DRZI9ghSBWMsNKdQmWR4PXCb+jMc6ZhzmQs0caRUbo/13fFsAOKnyzF+9vK3Fpe+D+PL8eUulxjByAa86h6ru5Z+68J+GSBjms9VSRnzQdblEVLD3A1yjEIA19UEuRBeWHM3M75qLQG54XL38nVPfxQU8w/xHEyJnw7cM+6d4idlt06wAUgV7l0H7ZRl7//f7pFM4uxtpZwjp5fqxQIeW/944wb2d0Pgo/OiQvr1iqha4uQd3DJ81y06qIt05IR72aY/GAvtE07UlJwvzlecsbfhZdAJPEQjhb9lx2p2ozhdF+3LxihkdAokpSPO/+7nVQUklaUga8XkOzZoh9U56DsIQGQGO3MkW0qk7LLF7PNQ8bQdi1bofVFQ5zfsNZEVMThvtMhFiSVKKJj5b77tICHUF/i2Z9VBJ9mFPlGtn9Bf5M3Apnl4cAhI8Itp7Ni5ft2RTYFA0OstxVd0wJtKn8yCtyfRWiAaA8bGF2xiO8vfAY+OWO6jKW+UEz1HCnDyl8="
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/04820972e9b664f3140c
    on_success: change
    on_failure: always
    on_start: never
    